[Desktop Entry]
Icon=preferences-other
StartupNotify=true
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_lightdm
X-KDE-ParentApp=kcontrol
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-system;
X-KDE-System-Settings-Parent-Category=system-administration

Name=Login Manager
Name[nl]=Aanmeldbeheerder
Name[pt]=Gestor de Autenticação
Name[pt_BR]=Gerenciador de login
Name[sv]=Inloggningshanterare
Name[uk]=Керування входом до системи
Name[x-test]=xxLogin Managerxx
