[Desktop Entry]
Icon=preferences-other
StartupNotify=true
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_lightdm
X-KDE-ParentApp=kcontrol
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-system;

Name=Login Manager
