[Desktop Entry]
Name=User Bar
Name[bs]=Korisnička traka
Name[ca]=Barra d'usuaris
Name[da]=Brugerlinje
Name[de]=Benutzerleiste
Name[el]=Γραμμή χρηστών
Name[es]=Lista de usuarios
Name[fi]=Käyttäjäpalkki
Name[fr]=Barre utilisateur
Name[gl]=Barra de usuarios
Name[hu]=Felhasználósáv
Name[it]=Barra utente
Name[ko]=사용자 표시줄
Name[lt]=Naudotojų juosta
Name[mr]=वापरकर्ता पट्टी
Name[nl]=Gebruikersbalk
Name[pl]=Pasek użytkownika
Name[pt]=Barra do Utilizador
Name[pt_BR]=Barra do usuário
Name[ru]=Список пользователей
Name[sk]=Panel používateľov
Name[sl]=Vrstica z uporabniki
Name[sv]=Användarrad
Name[tr]=Kullanıcı Çubuğu
Name[uk]=Панель користувачів
Name[x-test]=xxUser Barxx
Name[zh_CN]=用户列表
Comment=Pick your user from the user bar.
Comment[bs]=Dohvati korisnik iz korisničke trake
Comment[ca]=Trieu un usuari de la barra d'usuaris.
Comment[da]=Vælg din bruger fra brugerlinje
Comment[de]=Wählen Sie einen Benutzer aus der Benutzerleiste.
Comment[el]=Επιλέξτε τον χρήστη σας από τη γραμμή χρηστών.
Comment[es]=Elija su usuario de la lista.
Comment[fi]=Valitse käyttäjäsi käyttäjäpalkista.
Comment[fr]=Choisissez votre utilisateur depuis la barre utilisateur.
Comment[gl]=Escolla o seu usuario na barra de usuarios.
Comment[hu]=Válassza ki a felhasználót a felhasználósávról.
Comment[it]=Scegli il tuo utente dalla barra utente.
Comment[ko]=사용자를 표시줄에서 선택하십시오.
Comment[lt]=Pasirinkti savo naudotoją iš naudotojų juostos.
Comment[mr]=वापरकर्ता पट्टीवरून तुमचा वापरकर्ता निवडा.
Comment[nl]=Kies uw gebruiker van de gebruikersbalk.
Comment[pl]=Wybierz swojego użytkownika z paska.
Comment[pt]=Escolha o seu utilizador na barra respectiva.
Comment[pt_BR]=Escolha o seu usuário na barra respectiva.
Comment[ru]=Выберите имя пользователя из списка пользователей
Comment[sk]=Vyberte svojho používateľa z panelu používateľov
Comment[sl]=Izberite vašega uporabnika iz uporabniške vrstice.
Comment[sv]=Välj användare från användarraden.
Comment[tr]=Kullanıcı çubuğundan kullanıcınızı seçin.
Comment[uk]=Виберіть користувача зі списку на панелі користувачів.
Comment[x-test]=xxPick your user from the user bar.xx
Comment[zh_CN]=从用户列表中选择要登录的用户。
Version=0.3
Author=Aurélien Gâteau
Homepage=http://kde.org
